node_modules
bin

#Hardhat deploy
deployments/localhost
e2e/src/deployments/localhost
verifier-client/src/deployments/localhost

#Hardhat files
cache
artifacts
typechain/
.env
.env.docker
.env.local

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
coverage/
coverage.json
