node_modules
bin

#Hardhat deploy
packages/registry/deployments/localhost
packages/e2e/src/deployments/localhost
packages/verifier-client/src/deployments/localhost
packages/registry-js/src/deployments/localhost
packages/registry-test-utils/src/deployments/localhost

#Hardhat files
cache
artifacts
typechain/
.env
.env.docker
.env.local

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
coverage/
coverage.json
