node_modules
bin
build
dist

#Hardhat deploy
packages/registry/deployments/localhost
packages/e2e/src/deployments/localhost
packages/registry-test-utils/src/deployments/localhost

#Hardhat files
cache
artifacts
packages/registry/typechain

#Environment
.env
.env.docker
.env.local

#Verifier
packages/verifier/client/api/state-info.json

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
coverage/
coverage.json

# Logging
*.log