.VersionPublishComponent {
  .verification-status {
    margin: 2em 0 2em 0;

    .status {
      margin: 1em 0 1em 0;
    }
  }
  
  .proof-section {
    margin: 2em 0 2em 0;
  }
  
  .version-not-published {
    margin-bottom: 10px;
  }
}