.VerifiedStatusView {
  .publish-buttons {
    margin: 0 ;
  }
  
  .calc-proof-btn {
    margin-bottom: 10px;
  }

  .proof-section {
    margin-bottom: 10px;
  }

  .publish-btn {
    margin-bottom: 10px;
  }
}